.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
  .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
  .di{
      width: 90%;
      height: 800px;
      border: 1px solid rgb(240, 240, 240);
  }
  .one{width: 1600px;
    height:50px;
    border-bottom: 1px solid black;
    line-height: 40px;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 1.5em;
   
}
  .form{
      width: 80%;
      height: 800px;
      margin-top: 20px;
      margin-left: 3%;
  }
  .item{
      width: 100%;
      height: 50px;
  }
  .h1{
      width: 117px;
      height: 50px;
      float: left;
      font-size: 1.4em;
      letter-spacing: 2px;

  }
  .in1{
      width: 88.5%;
      height: 50px;

  }
  .suc{
      width: 90px;
      height: 40px;
      margin-left: 90%;
      margin-top: 30px;
      font-size: 1.4em;
      color: aliceblue;
      background-color:#1890ff;
  }
  .clearfix{
      margin-top: 50px;
  }
