.all{
    position: absolute;
    width: 1659px;
    height: 909px;
}
.one{width: 1600px;
    height:50px;
    border-bottom: 1px solid black;
    line-height: 40px;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 1.5em;
   
}
.two{
   margin-top: 50px;
   margin-left: 100px;
    width: 500px;
    height: 300px;
    background-color:#262d3a;
    border-radius: 7px;
    float: left;
}
.twodiv{
    width: 500px;
    height: 50px;
    line-height: 80px;
    text-align: center;
    color: whitesmoke;
    font-size: 1.6em;
}
.statistic1{
    margin-top: 50px;
    background-color: whitesmoke;
    float: left;
    width: 200px;
    height: 150px;
    text-align: center;
    font-size: 4em;
    margin-left: 33px;
}
.three{
    margin-top: 50px;
    margin-left: 220px;
     width: 500px;
     height: 300px;
     background-color:#262d3a;
     border-radius: 7px;
     float: left;
 }
 .statistic2{
    margin-top: 50px;
    background-color: whitesmoke;
    float: left;
    width: 230px;
    height: 150px;
    text-align: center;
    font-size: 4em;
    margin-left: 14px;
}
.four{
    margin-top: 50px;
    margin-left: 100px;
    width: 660px;
    height: 400px;
    background-color:#262d3a;
    border-radius: 7px;
    float: left;
}
.fourdiv{
    width: 650px;
    height: 50px;
    line-height: 80px;
    text-align: center;
    color: whitesmoke;
    font-size: 1.6em;
}
.time{
    width: 650px;
    height: 50px;
    margin-top: 20px;
}
.name{
    color: whitesmoke;
    float: left;
    font-size: 1.3em;
    margin-left: 20px;
    
}
.active{
    width: 550px;
    height: 40px;
    margin-left: 25px;
}